[project]
	description = Test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rrabani
[access "refs/for/refs/*"]
	read = group user/rrabani
	push = group user/rrabani
	label-Code-Review = -2..+2 group user/rrabani
	label-Verified = -1..+1 group user/rrabani
	rebase = group user/rrabani
	removeReviewer = group user/rrabani
	submit = group user/rrabani
[access "refs/heads/*"]
	read = group user/rrabani
	create = group user/rrabani
	push = +force group user/rrabani
	pushMerge = group user/rrabani
[access "refs/tags/*"]
	push = +force group user/rrabani
	pushTag = group user/rrabani
	pushSignedTag = group user/rrabani
